<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright (c) 2026, WSO2 LLC. (https://www.wso2.com).
 ~
 ~ WSO2 LLC. licenses this file to you under the Apache License,
 ~ Version 2.0 (the "License"); you may not use this file except
 ~ in compliance with the License.
 ~ You may obtain a copy of the License at
 ~
 ~     http://www.apache.org/licenses/LICENSE-2.0
 ~
 ~ Unless required by applicable law or agreed to in writing,
 ~ software distributed under the License is distributed on an
 ~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 ~ KIND, either express or implied. See the License for the
 ~ specific language governing permissions and limitations
 ~ under the License.
 -->

<DPDPAccelerator xmlns="http://wso2.org/projects/carbon/dpdp-accelerator.xml"
                 xmlns:svns="http://org.wso2.securevault/configuration">
    <ConsentPortal>
        {% if dpdp_accelerator.consent_portal.auto_provisioning_enabled is defined %}
        <AutoProvisioningEnabled>{{dpdp_accelerator.consent_portal.auto_provisioning_enabled}}</AutoProvisioningEnabled>
        {% else %}
        <AutoProvisioningEnabled>true</AutoProvisioningEnabled>
        {% endif %}
        {% if dpdp_accelerator.consent_portal.client_id is defined %}
        <ClientId>{{dpdp_accelerator.consent_portal.client_id}}</ClientId>
        {% else %}
        <ClientId>DPDP_CONSENT_PORTAL</ClientId>
        {% endif %}
    </ConsentPortal>
    <Database>
        {% if dpdp_accelerator.database.data_source_name is defined %}
        <DataSourceName>{{dpdp_accelerator.database.data_source_name}}</DataSourceName>
        {% else %}
        <DataSourceName>jdbc/WSO2DPDP_DB</DataSourceName>
        {% endif %}
    </Database>
    <EventNotifications>
        {% if dpdp_accelerator.event_notifications.thread_pool_size is defined %}
        <ThreadPoolSize>{{dpdp_accelerator.event_notifications.thread_pool_size}}</ThreadPoolSize>
        {% else %}
        <ThreadPoolSize>4</ThreadPoolSize>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.base_backoff_seconds is defined %}
        <BaseBackoffSeconds>{{dpdp_accelerator.event_notifications.base_backoff_seconds}}</BaseBackoffSeconds>
        {% else %}
        <BaseBackoffSeconds>5</BaseBackoffSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.max_retries is defined %}
        <MaxRetries>{{dpdp_accelerator.event_notifications.max_retries}}</MaxRetries>
        {% else %}
        <MaxRetries>5</MaxRetries>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.allow_http_callback_url is defined %}
        <AllowHttpCallbackUrl>{{dpdp_accelerator.event_notifications.allow_http_callback_url}}</AllowHttpCallbackUrl>
        {% else %}
        <AllowHttpCallbackUrl>true</AllowHttpCallbackUrl>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.delivery_worker_batch_size is defined %}
        <DeliveryWorkerBatchSize>{{dpdp_accelerator.event_notifications.delivery_worker_batch_size}}</DeliveryWorkerBatchSize>
        {% else %}
        <DeliveryWorkerBatchSize>50</DeliveryWorkerBatchSize>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.delivery_worker_poll_seconds is defined %}
        <DeliveryWorkerPollSeconds>{{dpdp_accelerator.event_notifications.delivery_worker_poll_seconds}}</DeliveryWorkerPollSeconds>
        {% else %}
        <DeliveryWorkerPollSeconds>5</DeliveryWorkerPollSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.stuck_inflight_threshold_seconds is defined %}
        <StuckInFlightThresholdSeconds>{{dpdp_accelerator.event_notifications.stuck_inflight_threshold_seconds}}</StuckInFlightThresholdSeconds>
        {% else %}
        <StuckInFlightThresholdSeconds>10</StuckInFlightThresholdSeconds>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.max_verification_response_body_bytes is defined %}
        <MaxVerificationResponseBodyBytes>{{dpdp_accelerator.event_notifications.max_verification_response_body_bytes}}</MaxVerificationResponseBodyBytes>
        {% else %}
        <MaxVerificationResponseBodyBytes>4096</MaxVerificationResponseBodyBytes>
        {% endif %}
        {% if dpdp_accelerator.event_notifications.pending_subscription_recovery_threshold_seconds is defined %}
        <PendingSubscriptionRecoveryThresholdSeconds>{{dpdp_accelerator.event_notifications.pending_subscription_recovery_threshold_seconds}}</PendingSubscriptionRecoveryThresholdSeconds>
        {% else %}
        <PendingSubscriptionRecoveryThresholdSeconds>60</PendingSubscriptionRecoveryThresholdSeconds>
        {% endif %}
    </EventNotifications>
</DPDPAccelerator>
